// @import '~@/common/scss/const.scss';

// 定义颜色规范
$color-1           : #111;
$color-background-d         : #f4f4f4;
$color-highlight          : #333;
$color-dialog-background    : #666;
$color-dialog-background2   : #999;
$color-theme                : #ffcd32;
$color-theme-d              : rgba(255, 205, 49, 0.5);
$color-sub-theme            : #d93f30;
$color-text                 : #fff;
$color-text-d               : rgba(255, 255, 255, 0.3);
$color-text-l               : rgba(255, 255, 255, 0.5);
$color-text-ll              : rgba(255, 255, 255, 0.8);
$color-border               :#ccc;
$color-red                  :#e24a4a;
 

$style-a                :#FFC400;
$style-b                :#9013FE;
$style-c                :#E24A4A;
$style-d                :#4A90E2;
$style-e                :#2CC136;

//定义字体规范
$font-size-small-s  : 20;
$font-size-small    : 22;
$font-size-medium   : 24;
$font-size-medium-x : 26;
$font-size-large    : 28;
$font-size-large-x  : 32;
